<h1>FAQ Page</h1>
<ul>
		<li><b>Q: is this a course</b> A: No this is a test site</li>
		<li><b>Q: Is it free</b> A: well yeah if you can find it</li>
		<li><b>How do I contact support?</b> Email us - <a href="mailto:support@lenslocked.com">support@lenslocked.com</a></li>
</ul>